<div class="mt-[60px] w-3/4">
    <div class="flex flex-col">
        <ChatHeader />
        <div class="h-[45rem] scrollbar relative flex flex-col-reverse overflow-y-scroll">
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
        </div>
        <ChatInput />
    </div>
</div>
