<div class="p-4 border-neutral-900/25 flex items-center justify-between border-b-2">
    <div class="flex items-center">
        <h4 class="mr-2 text-2xl font-bold lowercase">#blazor-engineering</h4> 
        <iconify-icon class="mt-1" icon="material-symbols-light:star-outline" width="20" height="20"></iconify-icon>
    </div>
    <div class="flex">        
        <iconify-icon class="mr-1 mt-0.5" icon="material-symbols-light:info-outline" width="17" height="17"></iconify-icon>
        <p class="text-sm font-bold">Details</p>
    </div>
</div>
