<div>
    <form class="relative flex justify-center">
        <input type="text" class="w-[60%] fixed bottom-7 rounded border border-gray-800 p-2 text-base outline-none" placeholder="Message #blazor-engineering"/>
        <button type="submit" class="hidden">SEND</button>
    </form>
</div>