<div>
    <form class="relative flex justify-center">
        <input type="text" class="p-2 w-[60%] border-gray-800 bottom-7 fixed rounded border text-base outline-none" placeholder="Message #blazor-engineering"/>
        <button type="submit" class="hidden">SEND</button>
    </form>
</div>