<div class="mt-[60px] w-3/4">
    <div class="flex flex-col">
        <ChatHeader />
        <div class="max-h-[30rem] scrollbar relative flex flex-col-reverse overflow-hidden overflow-y-scroll pb-10">
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
            <Message />
        </div>
        <ChatInput />
    </div>
</div>
