<div class="px-4 pb-2 align-center mt-5 flex">
    <img class="mr-2 h-14 rounded shadow"src="images/popeye.png"/>
    <div class="p-2">
        <div class="flex">
            <h3 class="mr-2 font-bold">Jonh Doe</h3>
            <span class="mt-1 text-xs font-light uppercase">08:45</span>
        </div>
        <p>djfkjsdhfksjfhksjdfhkjsdfkjsdhfksdhfksdhfksjhfkshfkshfksbcksbcksdfbgbhjsfsdfkjsdgfkjscksdkcsdkjhcnscnskdncksjbfkscskjcksdckjsdcjks</p>
    </div>
</div>