<div>
    <ul class="py-2">
        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">
                <iconify-icon class="text-white mr-2 mt-1 font-semibold" icon="ci:menu-alt-01" width="22" height="22"></iconify-icon>
                <h2 class="text-white text-lg font-semibold">All Unreads</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">                
                <iconify-icon class="text-white mr-2 mt-1 font-semibold" icon="bi:chat-right-text" width="18" height="18"></iconify-icon>
                <h2 class="text-white text-base">Threads</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">                
                <iconify-icon class="text-white mr-2 mt-1 font-semibold" icon="ri:threads-fill" width="20" height="20"></iconify-icon>
                <h2 class="text-white text-base">Mentions & reactions</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">                
                <iconify-icon class="text-white mr-2 mt-1 font-semibold" icon="material-symbols:bookmark-outline" width="20" height="20"></iconify-icon>
                <h2 class="text-white text-base">Channel Browser</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">                
                <iconify-icon class="text-white mr-2 mt-1 font-semibold" icon="ic:baseline-apps" width="20" height="20"></iconify-icon>
                <h2 class="text-white text-base">Apps</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">                
                <iconify-icon class="text-white mr-2 mt-1 font-semibold" icon="material-symbols:file-copy-outline" width="20" height="20"></iconify-icon>
                <h2 class="text-white text-base">File Browser</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">                
                <iconify-icon class="text-white mr-2 mt-1 font-semibold" icon="ep:arrow-up-bold" width="20" height="20"></iconify-icon>
                <h2 class="text-white text-base">Show less</h2>
            </div>
        </li>
    </ul>
    <Channels />
</div>