<div>
    <ul class="py-2">
        <li class="cursor-pointer py-2 pl-4 hover:bg-neutral-900/50">
            <div class="flex">
                <iconify-icon class="mr-2 mt-1 font-semibold text-white" icon="ci:menu-alt-01" width="22" height="22"></iconify-icon>
                <h2 class="text-lg font-semibold text-white">All Unreads</h2>
            </div>
        </li>

        <li class="cursor-pointer py-2 pl-4 hover:bg-neutral-900/50">
            <div class="flex">                
                <iconify-icon class="mr-2 mt-1 font-semibold text-white" icon="bi:chat-right-text" width="18" height="18"></iconify-icon>
                <h2 class="text-base text-white">Threads</h2>
            </div>
        </li>

        <li class="cursor-pointer py-2 pl-4 hover:bg-neutral-900/50">
            <div class="flex">                
                <iconify-icon class="mr-2 mt-1 font-semibold text-white" icon="ri:threads-fill" width="20" height="20"></iconify-icon>
                <h2 class="text-base text-white">Mentions & reactions</h2>
            </div>
        </li>        

        <li class="cursor-pointer py-2 pl-4 hover:bg-neutral-900/50">
            <div class="flex">                
                <iconify-icon class="mr-2 mt-1 font-semibold text-white" icon="material-symbols:file-copy-outline" width="20" height="20"></iconify-icon>
                <h2 class="text-base text-white">File Browser</h2>
            </div>
        </li>

        <li class="cursor-pointer py-2 pl-4 hover:bg-neutral-900/50">
            <div class="flex">                                
                <iconify-icon class="mr-2 mt-1 font-semibold text-white" icon="ep:arrow-down-bold" width="20" height="20"></iconify-icon>
                <h2 class="text-base text-white">Show more</h2>
            </div>
        </li>
    </ul>
    <Channels />
</div>