<div class="pt-4 border-gray-200 p-2 w-1/4 border-r border-opacity-25">
    <div class="mb-4 h-[45px] border-gray-50 mb-4 w-[80%] p-1 mx-auto cursor-pointer rounded-lg border">
        <div class="bg-rose-700 h-full w-full rounded-lg"></div>
    </div>

    <div class="w-[80%] h-[45px] border-gray-50 mb-4 p-1 mx-auto cursor-pointer rounded-lg border-opacity-75 hover:border-2">
        <div class="bg-indigo-800 h-full w-full rounded-lg"></div>
    </div>

    <div class="p-2 w-[80%] h-[45px] m-auto cursor-pointer hover:opacity-50">
        <iconify-icon class="text-white" icon="ic:round-plus" width="40" height="40"></iconify-icon>
    </div>
</div>