@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="./Styles/app.css" />
    <HeadOutlet />
</head>

<body>
    <Routes Cookie="@_cookie" />
    <script src="_framework/blazor.web.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
</body>

</html>

@code
{
    private string _cookie { get; set; } = string.Empty;

    protected override Task OnInitializedAsync()
    {
        var httpContext = HttpContextAccessor.HttpContext;

        _cookie = httpContext?.Request.Cookies["SignalChatCookie"] ?? string.Empty;

        return base.OnInitializedAsync();
    }
}
