<div class="flex w-3/5 items-center">
    <div class="mt-1 mr-4 cursor-pointer items-center rounded opacity-75 hover:opacity-50">
        <iconify-icon class="mt-1 text-white" icon="ph:clock" width="28" height="28"></iconify-icon>
    </div>

    <div class="border-gray-100 px-4 py-1 flex w-5/6 rounded-md border border-opacity-25">
        <iconify-icon class="text-white mt-1 mr-3 items-end" icon="basil:search-solid" width="24" height="24"></iconify-icon>
        <input class="bg-transparent text-white w-full outline-0" type="text" placeholder="Search Company"/>
    </div>
</div>

