<div class="bg-slack_bg py-2 px-4 fixed flex w-full items-center justify-between">
    <div class="px-4 flex items-center">
        <iconify-icon class="text-white" icon="mingcute:user-4-line" width="32" height="32"></iconify-icon>     
        <a class="bg-gray-200 p-2 text-white rounded" href="auth/signout">Signout</a>
    </div>
    
    <HeaderSearch />

    <div class="px-4 flex cursor-pointer items-center opacity-75 hover:opacity-50">
        <iconify-icon class="text-white" icon="ph:question" width="28" height="28"></iconify-icon>
    </div>
</div>
