@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <NavMenu />
        <div class="flex h-screen w-full">
            <Sidebar />
            <ChatContainer />
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>


